@using CarService.Data.Models
@using CarService.Services.Mechanics
@using CarService.Infrastructure
@using Microsoft.AspNetCore.Identity

@model ListingWorkViewModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IMechanicsService Mechanics



@{ this.ViewData["Title"] = "AllWorks"; }


<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>

</div>
               @{ 
                   var userId = User.Id();
                   var userIsMechanic = Mechanics.IsMechanic(userId);
               }

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="page-header text-center">
                    <h2 id="tables">Listed works for: </h2>
                    <h2 class="font-weight-bold font-italic">Car: @Model.CarId Issue:@Model.Id Description: @Model.Description</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-block btn-primary text-white mb-3" href="/Works/AddWorks?issueId=@Model.Id&carId=@Model.CarId">Add a new Work</a>
                </div>
                <div class="component">
                    <table class="table table-hover">
                        <thead class=" table-active">
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col" class="text-center">Edit Work</th>
                                <th scope="col" class="text-center">Delete Work</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var work in Model.Works)
                            {

                <tr class="table-light">
                    <td>@work.Description</td>
                    <td>
                        <span class="card-title"> @work.Price</span>
                    </td>
                   @if (userIsMechanic)
                   {
                    <td>
                        <a class="btn btn-block btn-warning text-white mb-3" href="/Works/EditWorks?workId=@work.Id&issueId=@work.IssueId&carId=@Model.CarId">Edit Work</a>
                    </td>
                    <td>
                        <a class="btn btn-block btn-danger text-white mb-3" href="/Works/DeleteWorks?workId=@work.Id&issueId=@work.IssueId&carId=@Model.CarId">Delete Work</a>
                    </td>
                   }
                </tr>}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>













