@model List<ReviewViewModel>

@{
    this.ViewData["Title"] = "Comments!!!";
}

                                                   
<div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 offset-md-1 col-md-10 offset-2 col-sm-6">
    <div class="container text-center">

        <h2>@this.ViewData["Title"]</h2>
        <br />
        <br />
    </div>

    <ul class="list-group">
        @foreach (var review in Model)
        {
            <br />
            <li class="list-group-item">@review.Id  <textarea class="col-8" rows="3">@review.SanContent</textarea></li>
            <li class="list-group-item text-right">@review.CreateOn</li>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-control">
                    <a class="btn btn-outline-danger" asp-controller="Reviews" asp-action="Delete" asp-route-reviewId="@review.Id">Delete</a>
                </div>
                <br />
            }
        }

    </ul>
    <br/>
    @if(User.Identity.IsAuthenticated)
    { 
           <div class="form-control text-center">
                 <a asp-controller="Reviews" asp-action="Create" class="btn btn-primary"> Write a comments !!!</a>
             </div>
    }

</div>