@model List<ReviewViewModel>

@{
    this.ViewData["Title"] = "Comments!!!";
}

<div class="offset-lg-1 col-lg-10 offset-xl-2 col-xl-8 offset-md-1 col-md-10 offset-2 col-sm-6">
    <div class="container text-center">

        <h2>@this.ViewData["Title"]</h2>
        <br />
        <br />
    </div>


    <!-- <div class="container-fluid text-center">                                             -->
    <!--     <table class="table table-hover">                                                 -->
    <!--         <thead>                                                                       -->
    <!--             <tr>                                                                      -->
    <!--                 <th>N</th>                                                            -->
    <!--                 <th>Content</th>                                                      -->
    <!--                 <th>Date</th>                                                         -->
    <!--             </tr>                                                                     -->
    <!--         </thead>                                                                      -->
    <!--         <tbody>                                                                       -->
    <!--                                                                                       -->
    <!--             foreach (var review in Model)                                            -->
    <!--             {                                                                         -->
    <!--                 <tr>                                                                  -->
    <!--                     <td>review.Id</td>                                               -->
    <!--                     <td><textarea class="col-6">review.Content</textarea></td>       -->
    <!--                     <td>date.utc.now</td>                                             -->
    <!--                 </tr>                                                                 -->
    <!--             }                                                                         -->
    <!--         </tbody>                                                                      -->
    <!--     </table>                                                                          -->
    <!-- </div>                                                                                -->
    <!-- <div class="text-center">                                                             -->
    <!--     <a asp-controller="Reviews" asp-action="Create" class="btn btn-primary"> Write a riew !!!</a>    -->
    <!-- </div>                                                                                -->




    <ul class="list-group">


        @foreach (var review in Model)
        {
            <br/>
            <li class="list-group-item">@review.Id  <textarea class="col-8" rows="5">@review.Content</textarea></li>
            <li class="list-group-item text-right">@review.CreateOn</li>
            @if (User.Identity.IsAuthenticated)
            {
                  <div class="form-control">
                  <a class="btn btn-outline-danger"asp-controller="Reviews" asp-action="Delete" asp-route-reviewId="@review.Id">Delete</a>
                  </div>
                  <br/>
             }
            }

    </ul>
    <br/>
    @if(User.Identity.IsAuthenticated)
    { 
           <div class="form-control text-center">
                 <a asp-controller="Reviews" asp-action="Create" class="btn btn-primary"> Write a review !!!</a>
             </div>
    }

</div>