@using CarService.Data.Models
@using CarService.Services.Mechanics
@using CarService.Infrastructure
@using Microsoft.AspNetCore.Identity

@model List<CarListingViewModel>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IMechanicsService Mechanics


<h1 class="text-center mt-2">My Cars</h1>
<div class="row mt-2 mb-4">

    @foreach (var car in Model)
    {
        var userId = User.Id();
        var userIsMechanic = Mechanics.IsMechanic(userId);
        var userIsAdmin = User.IsAdmin();


    <div class="card col-6 col-lg-3  game-card">
        <img src="@car.ImageUrl"
             class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
             data-placement="bottom" title="@car.Make @car.Year">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Plate # @car.PlateNumber</li>
                <li class="list-group-item">
                    <span class="bg-danger col-sm">Remaining Issues: @car.RemainingIssues</span>
                    <span class="bg-success col-sm">Fixed Issues: @car.FixedIssues</span>
                </li>
            </ul>

            @if (userIsMechanic)
            {
    <a href="/Issues/AddIssue?carId=@car.Id" class="btn btn-block btn-primary">Check issues</a>}

            <a href="/Issues/AllIssues?carId=@car.Id" class="btn btn-block btn-warning">All issues to car</a>

        </div>
        <a href="/Cars/Edit?carId=@car.Id" class="btn btn-block btn-danger">Edit car</a>

        <a asp-controller="Cars" asp-action="Details" asp-route-carId="@car.Id" asp-route-information="@(car.Make+"-"+car.Model+"-"+car.Year)" class="btn btn-block btn-info">Details car</a>

    </div>


           
           }

    </div>
